[submodule "CoEvoNet"]
	path = CoEvoNet
	url = https://github.com/CogSP/CoEvoNet.git
[submodule "fridge-scanner-app"]
	path = fridge-scanner-app
	url = https://github.com/CogSP/fridge-scanner-app.git
[submodule "DCOL-trajectory-optimization"]
	path = DCOL-trajectory-optimization
	url = https://github.com/CogSP/DCOL-trajectory-optimization.git
[submodule "computer-graphics-sandbox"]
	path = computer-graphics-sandbox
	url = https://github.com/CogSP/computer-graphics-sandbox.git
	branch = main
[submodule "DMAP-localizer"]
	path = DMAP-localizer
	url = https://github.com/CogSP/DMAP-localizer.git
